
.intro {
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(110, 77, 4);
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 3px dotted red;
    border-right: 3px dotted red;
    padding: 5px;
}

.Author {
    color: rgb(0, 255, 55);
}

#border1,th,td {
    border: 1px solid;
}

#border2 {
    border: 2px solid;
    margin: 7% 35%;
}

.gray {
    background-color: gray;
}